.result-eror{
    width: 400px;
    display: block;
    border: 1px solid red;
    color: red;
    background-color: rgb(250, 188, 188);
}
.result-right{
    width: 400px;
    display: block;
    border: 1px solid;
    color: white;
    background-color: green;
    border: 1px solid green;
}